<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.orderlibrary">

    <application>
        <activity android:name=".activity.signrecord.SignRecordActivity"/>
        <activity android:name=".activity.fixeddeliverysomethinghouse.FixedDeliverySomethingHouseActivity" />
        <activity android:name=".activity.deliverysomethinghouse.DeliverySomethingHouseActivity" />
        <activity android:name=".activity.adddeliverysomething.AddDeliverySomeThingActivity" />
        <activity android:name=".activity.deliverysomething.DeliverySomeThingActivity" />
        <activity android:name=".activity.exceptionregistration.ExceptionRegistrationActivity" />
        <activity android:name=".activity.allpay.paysuccess.PaymentSuccessActivity" />
        <activity android:name=".activity.allpay.paybar.PayBarActivity" />
        <activity android:name=".activity.goodsreceiptinfo.GoodsReceiptInfoActivity" />
        <activity android:name=".activity.waybillrecord.WaybillRecordActivity" />
        <activity android:name=".activity.addreceiver.AddReceiverActivity" />
        <activity android:name=".activity.addshipper.AddShipperActivity" />
        <activity android:name=".activity.acceptbilling.AcceptBillingActivity" />
        <activity android:name=".activity.goodsreceipt.GoodsReceiptActivity" />
    </application>

</manifest>