<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.orderlibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application>
        <activity android:name=".activity.fixreceiver.FixReceiverActivity"></activity>
        <activity android:name=".activity.fixshipper.FixShipperActivity" />
        <activity android:name=".activity.goodsreceipthouseinfo.GoodsReceiptHouseInfoActivity" />
        <activity android:name=".activity.acceptbillingoperationreview.AcceptBillingFixedReviewActivity" />
        <activity android:name=".activity.stowagealongway.StowageAlongWayActivity" />
        <activity
            android:name=".activity.receipt.receiptcancel.ReceiptCancelActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receipt.receiptgeneralledger.ReceiptGeneralLedgerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receipt.receiptreturnfactory.ReceiptReturnFactoryActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receipt.receiptreceive.ReceiptReceiveActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receipt.receiptconsignment.ReceiptConsignmentActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.receipt.receiptinfo.ReceiptInformationActivity" />
        <activity
            android:name=".activity.receipt.receiptsign.ReceiptSignActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.addclaimsettlement.AddClaimSettlementActivity" />
        <activity android:name=".activity.choicereceiver.ChoiceReceiverActivity" />
        <activity android:name=".activity.choiceshipper.ChoiceShipperActivity" />
        <activity android:name=".activity.claimsettlement.ClaimSettlementActivity" />
        <activity android:name=".activity.printacceptbilling.PrintAcceptBillingActivity" />
        <activity android:name=".activity.waybilldetails.WaybillDetailsActivity" />
        <activity android:name=".activity.fixedacceptbilling.FixedAcceptBillingActivity" />
        <activity
            android:name=".activity.acceptbillingrecording.AcceptBillingRecordingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.deliveryadjustment.DeliveryAdjustmentActivity" />
        <activity android:name=".activity.controlmanagement.ControlManagementActivity" />
        <activity android:name=".activity.fixeddeliverysomethinghouse.FixedDeliverySomethingHouseActivity" />
        <activity android:name=".activity.deliverysomethinghouse.DeliverySomethingHouseActivity" />
        <activity android:name=".activity.adddeliverysomething.AddDeliverySomeThingActivity" />
        <activity android:name=".activity.deliverysomething.DeliverySomeThingActivity" />
        <activity android:name=".activity.exceptionregistration.ExceptionRegistrationActivity" />
        <activity android:name=".activity.allpay.paysuccess.PaymentSuccessActivity" />
        <activity android:name=".activity.allpay.paybar.PayBarActivity" />
        <activity android:name=".activity.goodsreceiptinfo.GoodsReceiptInfoActivity" />
        <activity android:name=".activity.waybillrecord.WaybillRecordActivity" />
        <activity android:name=".activity.addreceiver.AddReceiverActivity" />
        <activity android:name=".activity.addshipper.AddShipperActivity" />
        <activity android:name=".activity.acceptbilling.AcceptBillingActivity" />
        <activity android:name=".activity.goodsreceipthouse.GoodsReceiptHouseActivity" />
    </application>

</manifest>