<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.accountlibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <application>
        <activity android:name=".activity.login.LogInActivity"/>
        <activity android:name=".activity.house.HouseActivity" />
        <activity android:name=".activity.setting.SettingActivity" />
        <activity android:name=".fragment.setting.bluetooth.BlueActivity" />
    </application>

</manifest>