<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.accountlibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".activity.aboutus.AboutUsActivity"></activity>
        <activity android:name=".activity.housesearch.HouseSearchActivity" />
        <activity android:name=".activity.commonlyinformationconfiguration.CommonlyInformationConfigurationActivity" />
        <activity android:name=".activity.commonlyinformation.CommonlyInformationActivity" />
        <activity android:name=".activity.WebPageLogInActivity" />
        <activity android:name=".activity.login.LogInActivity" />
        <activity
            android:name=".activity.house.HouseActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.setting.SettingActivity" />
        <activity android:name=".fragment.setting.bluetooth.BlueActivity" />
        <activity android:name=".activity.signature.SignatureActivity" />
    </application>

</manifest>