<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.vehicleslibrary">

    <application>
        <activity android:name=".activity.arrivalvehiclesscan.arrivalvehiclestrunkscan.ArrivalVehiclesScanShortTrunkActivity" />
        <activity android:name=".activity.arrivalvehiclesscan.arrivalvehiclesshortscan.ArrivalVehiclesScanShortActivity" />
        <activity android:name=".activity.arrivalshortscanoperatinginfo.ArrivalShortScanOperatingMoreInfoActivityActivity" />
        <activity android:name=".activity.arrivalshortscanoperating.ArrivalShortScanOperatingActivity" />
        <activity android:name=".activity.arrivalscanoperatingmoreinfo.ArrivalScanOperatingMoreInfoActivity" />
        <activity android:name=".activity.loadingvehicles.trunk.TrunkLoadingVehiclesActivity" />
        <activity android:name=".activity.loadingvehicles.shortbarge.ShortBargeLoadingVehiclesActivity" />
        <activity android:name=".activity.loadingvehicles.untrunk.TrunkUnLoadingVehiclesActivity" />
        <activity
            android:name=".activity.loadingvehicles.unshortbarge.ShortBargeUnLoadingVehiclesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.alllocalagent.localgentshortfeederhouseinfo.LocalGentShortFeederHouseInfoActivity" />
        <activity android:name=".activity.shortfeederunloadingwarehousing.ShortFeederUnloadingWarehousingActivity" />
        <activity android:name=".activity.trunkdepartureunloadingwarehousing.TrunkDepartureUnloadingWarehousingActivity" />
        <activity android:name=".activity.fixeddeparturetrunkconfiguration.FixedDepartureTrunkConfigurationActivity" />
        <activity android:name=".activity.fixedshortfeederconfiguration.FixedShortFeederConfigurationActivity" />
        <activity android:name=".activity.departuretrunkdeparturescanoperatingmoreinfo.DepartureTrunkDepartureScanOperatingScanInfoActivity" />
        <activity
            android:name=".activity.shorttrunkdeparturescanoperatingmoreinfo.ShortTrunkDepartureScanOperatingMoreInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.departurehousechecklist.DepartureHouseChecklistActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.shorthousechecklist.ShortHouseChecklistActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.fixedscandeparturetrunkconfiguration.FixedScanDepartureTrunkConfigurationActivity" />
        <activity android:name=".activity.fixedscanshortfeederconfiguration.FixedScanShortFeederConfigurationActivity" />
        <activity android:name=".activity.adddeparturetrunk.AddDepartureTrunkActivity" />
        <activity
            android:name=".activity.departuretrunkdepartureunplanscanoperating.DepartureTrunkDepartureUnPlanScanOperatingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.departuretrunkdeparturescanoperating.revoke.RevokeDepartureTrunkDepartureScanOperatingActivity" />
        <activity
            android:name=".activity.shorttrunkdepartureunplanscanoperating.ShortTrunkDepartureUnPlanScanOperatingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.addscanshortfeeder.AddScanShortFeederActivity" />
        <activity android:name=".activity.shorttrunkdeparturescanoperating.revoke.RevokeShortTrunkDepartureScanOperatingActivity" />
        <activity
            android:name=".activity.shorttrunkdeparturescanoperating.ShortTrunkDepartureScanOperatingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.departuretrunkdeparturescanoperating.DepartureTrunkDepartureScanOperatingActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.loadingvehicles.LoadingVehiclesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.arrivaltrunkdeparturescanoperating.ArrivalTrunkDepartureScanOperatingActivity" />
        <activity android:name=".activity.arrivalvehiclesscan.ArrivalVehiclesScanActivity" />
        <activity android:name=".activity.fixedvehiclesarchives.FixedVehicleArchivesActivity" />
        <activity android:name=".activity.addvehiclesarchives.AddVehicleArchivesActivity" />
        <activity
            android:name=".activity.vehiclesarchives.VehicleArchivesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.alldeparturerecord.shipmentinventory.ShipmentInventoryActivity" />
        <activity android:name=".activity.allarrivalrecord.arrivalinventory.ArrivalInventoryActivity" />
        <activity android:name=".activity.allterminalagent.terminalagentbycarhouse.TerminalAgentByCarHouseActivity" />
        <activity android:name=".activity.allterminalagent.fixedterminalagentbycar.FixedTerminalAgentByCarActivity" />
        <activity android:name=".activity.allterminalagent.addterminalagentbycar.AddTerminalAgentByCarActivity" />
        <activity android:name=".activity.allterminalagent.terminalagent.TerminalAgentActivity" />
        <activity android:name=".activity.alllocalagent.fixlocalgentshortfeederhouse.FixedLocalGentShortFeederHouseActivity" />
        <activity
            android:name=".activity.alllocalagent.localgentshortfeederhouse.LocalGentShortFeederHouseActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.alllocalagent.addlocalgentshortfeeder.AddLocalGentShortFeederActivity" />
        <activity android:name=".activity.alllocalagent.localagent.LocalAgentActivity" />
        <activity android:name=".activity.allarrivalrecord.unloadingwarehousing.UnloadingWarehousingActivity" />
        <activity android:name=".activity.allarrivalrecord.arrivalrecord.ArrivalRecordActivity" />
        <activity android:name=".activity.alldeparturerecord.fixshortfeederhouse.FixShortFeederHouseActivity" />
        <activity android:name=".activity.alldeparturerecord.fixtrunkdeparturehouse.FixedTrunkDepartureHouseActivity" />
        <activity android:name=".activity.alldeparturerecord.trunkdeparturehouse.TrunkDepartureHouseActivity" />
        <activity
            android:name=".activity.alldeparturerecord.shortfeederhouse.ShortFeederHouseActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.alldeparturerecord.addshortfeeder.AddShortFeederActivity" />
        <activity android:name=".activity.alldeparturerecord.addtrunkdeparture.AddTrunkDepartureActivity" />
        <activity
            android:name=".activity.alldeparturerecord.departurerecord.DepartureRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.stowagealongwayhouse.StowageAlongWayHouseActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.alldeparturerecord.departurerecord.trunk.TrunkDepartureRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.alldeparturerecord.departurerecord.shortbarge.ShortBargeDepartureRecordActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.allarrivalrecord.arrivalrecord.shortbarge.ShortBargeArrivalRecordActivity" />
        <activity android:name=".activity.allarrivalrecord.arrivalrecord.trunk.TrunkArrivalRecordActivity" />
    </application>

</manifest>