<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.amountlibrary">

    <application>
        <activity
            android:name=".activity.allwriteoffreceivepayment.commonreceivewriteoffinfo.CommonReceiveWriteOffInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.allwriteoffreceivepayment.commonreceivewriteoff.CommonReceiveWriteOffActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.allwriteoffreceivepayment.commonwriteoffreceivepaycard.CommonWriteOffReceivePayCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.allwriteoffpayment.commonwriteoffinfo.CommonWriteOffInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.allwriteoffpayment.commonwriteoffpaycard.CommonWriteOffPayCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.allwriteoffpayment.commonwriteoff.CommonWriteOffActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receipttuberculosissalesinfo.ReceiptTuberculosisSalesInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.monthlytuberculosissalesinfo.MonthlyTuberculosisSalesInfoActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.monthlytuberculosissalespaycard.MonthlyTuberculosisSalesPayCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.monthlytuberculosissales.MonthlyTuberculosisSalesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receipttuberculosissalespaycard.ReceiptTuberculosisSalesPayCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.receiptmonthlytuberculosissales.ReceiptMonthlyTuberculosisSalesActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.paymentedwriteoffinfo.PaymentedWriteoffInfoActivity" />
        <activity
            android:name=".activity.paymentedwriteoffpaycard.PaymentedWriteOffPayCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.paymentingwriteoffpaycard.PaymentingWriteOffPayCardActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.paymentedwriteoff.PaymentedWriteoffActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.paymentingwriteoff.PaymentingWriteoffActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.generatereceiptvoucher.GenerateReceiptVoucherActivity" />
        <activity
            android:name=".activity.generaledger.GeneralLedgerActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activity.loanissuance.LoanIssuanceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.generatepaymentvoucher.GeneratePaymentVoucherActivity" />
        <activity
            android:name=".activity.loanrecycle.LoanRecycleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.loanchange.LoanChangeActivity" />
    </application>

</manifest>