<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.amountlibrary">

    <application>
        <activity android:name=".fragment.generaledger.GeneralLedgerActivity"></activity>
        <activity android:name=".activity.loanissuance.LoanIssuanceActivity" />
        <activity android:name=".activity.generatepaymentvoucher.GeneratePaymentVoucherActivity" />
        <activity
            android:name=".activity.loanrecycle.LoanRecycleActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.loanchange.LoanChangeActivity" />
    </application>

</manifest>