<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.commonlibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <activity android:name=".TakePhotosActivity" />
        <activity android:name=".scan.ScanActivity" />
        <activity android:name=".scan.pda.ScanPDAActivity" />

    </application>

</manifest>