<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbcq.maplibrary">

    <application>
        <activity android:name=".LocationActivity" />
        <activity android:name=".LocationTestActivity" />
        <activity android:name=".search.SearchPoiActivity" />
    </application>
</manifest>